################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
/root@
secrets.yaml
rekuperace.yaml
esphome
.esphome
__pycache__
